@font-face { font-family: NexaBlack; src: url('../fonts/Nexa/nexa-black.otf'); } 
@font-face { font-family: NexaBook; src: url('../fonts/Nexa/nexa-book.ttf'); } 
@font-face { font-family: NexaBoldItalic; src: url('../fonts/Nexa/nexa-bold-italic.ttf'); } 
@keyframes glowing {
    0% {
        opacity: 1;
        box-shadow: 0 0 2em 0.5em var(--clr-neon);

    }
    50% {
      opacity: 1;
      box-shadow: 0 0 2em 1em var(--clr-neon);

    }
    100% {
        opacity: 1;
      box-shadow: 0 0 2em 0.5em var(--clr-neon);

    }
  }
:root
{
    --couleur-principal-bleu--: #092D74;
    --couleur-principal-rouge--: #CF152D;
    --couleur-contraste-principal--: #dfdfdf; 

    --couleur-footer: rgb(213, 213, 213);

    --clr-neon: #ffffff;
    --clr-bg: #092D74;
}
html, body{
    margin: 0;
    height: 100%;
}
body{
  margin: 0;
}
main{
  
  min-height: calc(100vh - 4rem);
}
.navbar, .nav-link, .navbar-brand{
    font-family: NexaBlack;
    background-color: var(--couleur-principal-bleu--);
    color: var(--couleur-contraste-principal--);

    

}
.div-neon-button
{
    background-image: linear-gradient(to bottom, #092d74f1, var(--couleur-principal-bleu--));

}

.nav-item a:hover, .navbar-brand a:hover{
    color: var(--couleur-principal-rouge--);
}
/*Neon bouton*/
.neon-button {
    animation: glowing 1000ms infinite;
    font-size: 4rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;

    margin-bottom: 10%;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;

  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: var(--clr-bg);
    animation: glowing 1000000ms infinite;
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
        
/*Accueil*/
/* On screens that are 600px or less*/
@media screen and (max-width: 600px) {
  .parallax {
    background-image: url('../img/pexels-john-petalcurin-2115257\ -\ Copie.jpg');
  }
}

.parallax{
    background-image: url('../img/pexels-john-petalcurin-2115257.jpg');

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.groupe-button, .btn-group
{
  width: 80%;
  height: 100px;
  font-size: 25pt;

}
.groupe-button-middle
{
  width: 80%;
  font-size: 30pt;
}
.jeux-equipe{
    margin-bottom: 5%;
    margin-top: 2%;
}
.btn-version1{
  width: 80%;
  height: 50px;
  font-size: larger;
  margin-bottom: 2%;
}
/*Jeux*/
.logo-jeu{
    width: 80%;
}

/*Inscription*/
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
/*Resulat*/
table, td, th,tr{
    border: #092D74;
    border-style: solid;

}
table{
    width: 100%;
    margin-top: 5%;
}
/*Footer*/
.footer
{
  position: fixed;
  bottom: 0;
  background-color: var(--couleur-footer);
  
  height: 4rem;
  
}
